@use 'variables' as vars;
@use "mixin_bem" as mx;


.section2__container {
  background-color: vars.$color_background;
}

.section2__grid {  display: grid;
    grid-template-columns: 1.5fr 1.5fr 0.5fr 1.5fr 2.5fr 1.5fr 0.5fr 1.5fr;
    grid-template-rows: 1fr 0.5fr 1fr 1fr 0.5fr 1fr;
    gap: 0.5em 0.5em;
    grid-auto-flow: row;
    grid-template-areas:
      ". . zone2 zone2 zone2 . . ."
      ". . zone2 zone2 zone2 zone5 zone5 ."
      "zone1 zone1 zone2 zone2 zone2 zone5 zone5 zone6"
      "zone1 zone1 zone3 zone3 zone4 zone4 zone4 zone6"
      ". . zone3 zone3 zone4 zone4 zone4 ."
      ". . . . zone4 zone4 zone4 .";
  }
  
 
  

.section2__item {
  background-color: #d2fdf9;
  border: 1px solid #46d1d1;
  padding: 10px;
  text-align: center;
}

@for $i from 1 through 6 {
  .section2__img#{$i} {
    grid-area: zone#{$i};
  }
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
